:root {
  background: var(--mdc-theme-background);
  height: 100%;

  --mdc-theme-primary: #44b4a2;
  --mdc-theme-secondary: #e0495f;

  --mdc-theme-background: #eee;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-primary: #000;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(255, 255, 255, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(255, 255, 255, 0.38);
  --mdc-theme-text-icon-on-background: rgba(255, 255, 255, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(255, 255, 255, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(255, 255, 255, 0.38);
  --mdc-theme-text-icon-on-light: rgba(255, 255, 255, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);

  --mdc-card-border-color: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --mdc-theme-background: #121212;
    --mdc-theme-surface: #222;
    --mdc-theme-error: #b00020;
    --mdc-theme-on-primary: #000;
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-on-surface: #fff;
    --mdc-theme-on-error: #fff;
    --mdc-theme-text-primary-on-background: rgba(255, 255, 255, 0.87);
    --mdc-theme-text-secondary-on-background: rgba(255, 255, 255, 0.54);
    --mdc-theme-text-hint-on-background: rgba(255, 255, 255, 0.38);
    --mdc-theme-text-disabled-on-background: rgba(255, 255, 255, 0.38);
    --mdc-theme-text-icon-on-background: rgba(255, 255, 255, 0.38);

    --mdc-card-border-color: #0f0f0f;
  }
}

body {
  margin: 0px;
  padding-bottom: 24px;
}

a {
  color: var(--mdc-theme-secondary);
}

.mdc-layout-grid {
  padding-bottom: 0px;
}

.mdc-card {
  border-radius: 12px;
  border-color: var(--mdc-card-border-color);
}

.mdc-card--outlined {
  border-color: var(--mdc-card-border-color);
}

@media only screen and (max-width: 600px) {
  .top-bar-icon-button {
    font-size: 0px;
    width: 0px;
  }
}

.title-text {
  color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.54));
  margin-left: 24px;
  margin-top: 0px;
}

.card-image {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-description {
  margin: 24px;
  margin-top: 0px;
}

.card-title {
  color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.54));
  margin-bottom: 0px;
}

.card-subtitle {
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
  margin-top: 0px;
}

.card-secondary {
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}
